/* Global styles */
html {
  height: 100%;
  width: 100%;
}

/* .Border-frame */
.Border-frame {
  border: 2px solid black;
  height: 915px;
  width: 1900px;
  background-color: #ffffff;
  overflow: hidden;
}

/* .navbar-frame */
.navbar-frame {
  height: 75px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;

}

/* Buttons */
.Dash-deliveries,
.Cart,
.Login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
  cursor: pointer;

}

.Dash-deliveries {
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

.Cart {
  font-size: 30px;
}

.Login {
  font-size: 30px;
}

/* .search-bar */
.search-bar {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* .image-logo */
.image-logo {
  background-color: black;
}

img {
  width: 70px;
  height: 60px;
}

/* .Border-frame h1 */
.Border-frame h1 {
  position: absolute;
  top: 100px;
  left: 850px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #000000;
}

/* .checkout-link */
.checkout-link {
  color: #ffffff;
  font-size: 30px;
}

/* #CartCount */
#CartCount {
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 3px 6px;
  color: #000000;
  bottom: -10px;
  right: -15px;
  font-size: 12px;
}

/* .card */
.card {
  position: relative;
  max-width: 100px;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
}

.card img {
  width: 500px;
}

/* .cart-button */
.cart-button {
  position: absolute;
  top: 10px;
  left: 1500px;
  border: 1px solid #a42d2d;
  padding: 20px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

/* .card .item-price */
.card .item-price {
  font-weight: bolder;
  color: red;
}


.about-bg-img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}


#about-header {
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 80px;
  max-width: 250px;
  text-align: center;
  
}

p {
  font-size: 20px;
  position: absolute;
  top: 285px;
  left: 970px;
  text-align: center;
  padding: 0;
  margin: 2rem 0;
  line-height: 1.3;
  max-width: 55ch;
  overflow-y: auto;
  max-height: 450px;
}

@media screen and (max-width: 1300px) {
  .about-bg-img {
    display: none
  }

  #about-header, p {
    position: static;
  }
}