html {
  height: 100%;
  width: 100%;

}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;

}


.background {
  background-image: url('welcomepage.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/*************************/
/*       index.html      */
/*************************/

.heading {
  position: absolute;
  z-index: 2;
  top: 200px;
}

.title {
  font-size: 100px;
  font-family: "Roboto", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 40px;
  font-family: "Times New Roman", 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

.Started-button {
  font-family: "Georgia", "Arial", sans-serif;
  display: inline-block;
  font-size: 30px;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.Started-button:focus {
  outline: 0;
}

.Started-button:active {
  transform: scale(0.9);
}

.Started-button {
  position: absolute;
  top: 700px;
  left: 100px;
}

.Home-button {
  font-family: "Georgia", "Arial", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #000000;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.Home-button:focus {
  outline: 0;
}

.Home-button:active {
  transform: scale(0.9);
}

.Home-button {
  position: absolute;
  top: -50px;
  left: 300px;
}

.About-button {
  font-family: "Georgia", "Arial", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #000000;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.About-button:focus {
  outline: 0;
}

.About-button:active {
  transform: scale(0.9);
}

.About-button {
  position: absolute;
  top: -50px;
  left: 600px;
}

.About-button:hover {
  background-color: #f7f9f9
}

.login-button {
  font-family: "Georgia", "Arial", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

}

.login-button:focus {
  outline: 0;
}

.login-button:active {
  transform: scale(0.9);
}

.login-button {
  position: absolute;
  top: -50px;
  left: 900px;
}

.login-button:hover {
  background-color: #17202A;
}

.landing-page-bg-img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
  }
}