/* Global styles */
html {
  height: 100%;
  width: 100%;
}

/* .Border-frame */
.Border-frame {
  border: 2px solid black;
  height: 915px;
  width: 1900px;
  background-color: #ffffff;
  overflow: hidden;
}

/* .navbar-frame */
.navbar-frame {
  height: 75px;
  width: 1900px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000;
  overflow: hidden;
}

/* Buttons */
.Dash-deliveries,
.Cart,
.Login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
  cursor: pointer;
  position: absolute;
}

.Dash-deliveries {
  font-size: 40px;
  left: 100px;
}

.Cart {
  font-size: 30px;
  left: 1558px;
  top: 5px;
}

.Login {
  font-size: 30px;
  left: 1700px;
  top: 5px;
}

/* .search-bar */
.search-bar {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* .image-logo */
.image-logo {
  background-color: black;
  width: 70px;
  height: 60px;
  position: absolute;
  top: 6px;
  left: 10px;
}

img {
  width: 70px;
  height: 60px;
}

/* .Border-frame h1 */
.Border-frame h1 {
  position: absolute;
  top: 100px;
  left: 850px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #000000;
}

/* .checkout-link */
.checkout-link {
  position: absolute;
  top: 28px;
  left: 1550px;
  color: #ffffff;
  font-size: 30px;
}

/* #CartCount */
#CartCount {
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 3px 6px;
  color: #000000;
  bottom: -10px;
  right: -15px;
  font-size: 12px;
}

/* .card */
.card {
  position: relative;
  max-width: 100px;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
}

.card img {
  width: 500px;
}

/* .cart-button */
.cart-button {
  position: absolute;
  top: 10px;
  left: 1500px;
  border: 1px solid #a42d2d;
  padding: 20px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

/* .card .item-price */
.card .item-price {
  font-weight: bolder;
  color: red;
}


.about-bg-img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

p1 {
  font-size: 150px;
  position:absolute;
  top: 250px;
  left: 380px;
  text-align: center;
  margin: 0;
  padding:0;
}

p2 {
  font-size: 150px;
  position:absolute;
  top: 400px;
  left: 525px;
  text-align: center;
  margin: 0;
  padding:0;
}

p3 {
  font-size: 20px;
  position:absolute;
  top: 315px;
  left: 945px;
  text-align: center;
  margin: 0;
  padding:0;
}