html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

header .website-logo img {
  height: 100px;
}

header nav {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

header nav a {
  text-decoration: none;
  color: red;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

/* Checkout Cart - Navigation */
.checkout-link {
  position: relative;
}

#CartCount {
    position: absolute;
    background: black;
    border-radius: 50%;
    padding: 3px 6px;
    color: white;
    bottom: -10px;
    right: -15px;
    font-size: 12px;
}

.card {
    position: relative;
    max-width: 100px;
    height: 250px;
    overflow: hidden;
    margin: 10px auto;
    padding: 10px;
}

.card img {
  width: 100%;
}

.cart-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid red;
  padding: 10px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

.card .item-price {
  font-weight: bolder;
  color: red;
}

/* Login Page */
.login-container {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 50px;
    border: solid black;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin: 5px 0;
}

.login-button {
  background: red;
  width: 100px;
  align-self: flex-end;
  padding: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

/* Miscellaneous */

#loading {
  margin: auto;
  width: 100px;
}

#loading img {
  width: 100%;
}

.logout-link  {
  display: none;
}


.cart-item {
  display: flex;
  height: 200px;
  margin: 0 10%;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.cart-item img {
  height: 100%;
}

.total-cart-price {
  text-align: right;
  width: 50%;
  margin: auto;
  font-size: 30px;
}