/* Global styles */
html {
  height: 100%;
  width: 100%;
}

body {
  border: 2px solid black;
}

/* .Border-frame */
.Border-frame {
 /* border: 2px solid black;
  height: 915px;
  width: 1900px;
  background-color: #ffffff;
  overflow: hidden; */
}

/* .navbar-frame */
.navbar-frame {
  height: 75px;
  /*width: 1900px; */
  /*position: absolute;
  top: 10px;
  left: 10px;*/
  background-color: #000000;
  overflow: hidden;
}

/* Buttons */
.Dash-deliveries,
.Cart,
.Login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
  cursor: pointer;
  position: absolute;
}

.Dash-deliveries {
  font-size: 40px;
  left: 100px;
}

.Cart {
  font-size: 30px;
  left: 1558px;
  top: 5px;
}

.Login {
  font-size: 30px;
  left: 1700px;
  top: 5px;
}

/* .search-bar */
.search-bar {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* .image-logo */
.image-logo {
  background-color: black;
  width: 70px;
  height: 60px;
  position: absolute;
  top: 6px;
  left: 10px;
}

img {
  width: 70px;
  height: 60px;
}

.img-hover:hover {
  filter: blur(5px);
  cursor: pointer;
}

/* Additional CSS for when images are not hovered */
.img-hover:not(:hover) {
  opacity: 1;
}


/* .Border-frame h1 */
.Border-frame h1 {
  /*position: absolute;
  top: 100px;
  left: 850px; **/
  text-align: center;
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #000000;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 100px;
}

.menu-card {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 50px 100px;
}

.food-name {
  display: none;
  position: absolute;
  top: 0;
  background: white;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.food-price {
  display: none;
  position: absolute;
  background: white;
  padding: 10px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/* Image cards */
.kebab,
.burger,
.chips,
.pizza,
.sandwich,
.taco,
.wings,
.sushi,
.hotdog,
.salad,
.desert,
.smoothie,
.pancake,
.sundae,
.waffle {
  height: 200px;
  width: 300px;
  /* position: absolute;*/
  border: 2px solid black;
  cursor: pointer;

}

/*
.kebab { top: 200px; left: 66.67px; }
.burger { top: 200px; left: 437.67px; }
.chips { top: 200px; left: 808.67px; }
.pizza { top: 200px; left: 1179.67px; }
.sandwich { top: 200px; left: 1550.67px; }
.taco { top: 430px; left: 66.67px; }
.wings { top: 430px; left: 437.67px; }
.sushi { top: 430px; left: 808.67px; }
.hotdog { top: 430px; left: 1179.67px; }
.salad { top: 430px; left: 1550.67px; }
.desert { top: 660px; left: 66.67px; }
.smoothie { top: 660px; left: 437.67px; }
.pancake { top: 660px; left: 808.67px; }
.sundae { top: 660px; left: 1179.67px; }
.waffle { top: 660px; left: 1550.67px; }

*/



/* .checkout-link */
.checkout-link {
  position: absolute;
  top: 28px;
  left: 1550px;
  color: #ffffff;
  font-size: 30px;
}

/* #CartCount */
#CartCount {
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 3px 6px;
  color: #000000;
  bottom: -10px;
  right: -15px;
  font-size: 12px;
}

/* .card */
.card {
  position: relative;
  max-width: 100px;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
}

.card img {
  width: 500px;
}

/* .cart-button */
.cart-button {
  position: absolute;
  top: 10px;
  left: 1500px;
  border: 1px solid #a42d2d;
  padding: 20px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

/* .card .item-price */
.card .item-price {
  font-weight: bolder;
  color: red;
}