/* Global styles */
html {
  height: 100%;
  width: 100%;
}

/* .Border-frame */
.Border-frame {
  border: 2px solid black;
  /* You can customize the width, style, and color */
  height: 915px;
  width: 1900px;
  background-color: #ffffff;
  overflow: hidden;
}

/* .navbar-frame */
.navbar-frame {
  height: 75px;
  width: 1900px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000000;
  overflow: hidden;
}

/* .Dash-deliveries button */
.Dash-deliveries {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 40px;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 100px;
}

/* .Cart button */
.Cart,
.Login {
  font-family: "Roboto", "Arial", sans-serif;
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 45px;
  border: 2px solid black;
  cursor: pointer;
  position: absolute;
}

.Cart {
  left: 1558px;
  top: 5px;
}

.Login {
  left: 1700px;
  top: 5px;
}

/* .search-bar */
.search-bar {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 500px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
}

/* .image-logo */
.image-logo {
  background-color: black;
  width: 70px;
  height: 60px;
  position: absolute;
  top: 6px;
  left: 10px;
}

img {
  width: 70px;
  height: 60px;
}

/* .Border-frame h1 */
.Border-frame h1 {
  position: absolute;
  top: 100px;
  left: 850px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #000000;
}

/* .checkout-link */
.checkout-link {
  position: absolute;
  top: 28px;
  left: 1550px;
  color: #ffffff;
  font-size: 30px;
}

/* #CartCount */
#CartCount {
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 3px 6px;
  color: #000000;
  bottom: -10px;
  right: -15px;
  font-size: 12px;
}

/* .card */
.card {
  position: relative;
  max-width: 100px;
  height: 250px;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
}

.card img {
  width: 500px;
}

/* .cart-button */
.cart-button {
  position: absolute;
  top: 10px;
  left: 1500px;
  border: 1px solid #a42d2d;
  padding: 20px;
  cursor: pointer;
}

.cart-button:hover {
  background-color: red;
  color: white;
}

/* .card .item-price */
.card .item-price {
  font-weight: bolder;
  color: red;
}

/* .login-bg-img */
.login-bg-img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

/* .loginbox */
.loginbox {
  width: 420px;
  height: 500px;
  background: #000;
  color: #fff;
  top: 55%;
  left: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 120px 30px;
}

/* .avatar */
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}


#login-header {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  position: absolute;
  left: 145px;
  top: 65px;
}

/* .loginbox p */
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* .loginbox input */
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ffffff;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="button"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover {
  color: #ffc107;
}